.cover#topCover
  .container
    .row
      .col-md-12
        h1#appTitle
          b SMCalFlow
          img(src='/smlogo.png' alt='SMLogo' width='200px' align='right')
          img(src='/mslogo.png' alt='MSLogo' width='290px' align='right')
        h2#appSubtitle Dataset and Leaderboard
