//$theme-color=#338481
$theme-color=#0B3030
//$theme-color-dark=#463494
$theme-color-dark=#0B3030
//$theme-color-light=#8970ef
$theme-color-light=#0B3030

//$theme-color=#ea4141
//$theme-color-dark=#cc4242
//$theme-color-light=#ea4141

$secondary-color=#29BB43
$theme-gray=#333
$theme-light-gray=#f4f4f4
